<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" type="text/css" href="/css/layout.css">
        <link rel="stylesheet" type="text/css" href="/css/header.css">
        <link rel="stylesheet" type="text/css" href="/css/footer.css">
        <%- style %>
    </head>
    <body>
        <div id="header">
        <%-include('_header'); %>
       </div>
        <%- body %>
        <div id="footer">
        <%-include('_footer'); %>
        </div>
        <%- script %>
    </body>
</html> 