<link rel="stylesheet" href="/css/user_profile.css">
        <h1>user_profile</h1>
<img src="<%= user.avatar%>" alt="<%= user.name%>">
        <% if(user.id==profile_user.id){%>
          <!-- if user matches the show the form -->
          <form action="/users/update/<%= profile_user.id %>" method="POST" enctype="multipart/form-data">
          <input type="text" name="name" placeholder="your name" value="<%= profile_user.name%>" required>
          <input type="text" name="email" placeholder="your email" value="<%= profile_user.email%>" required>
          <input type="file" name="avatar" placeholder="Profile Picture">
          <input type="submit" value="Update">
          </form>
        <%}else{%>
          
            <!-- else show the user details -->
            <p><%= profile_user.name%></p>
            <p><%= profile_user.email%></p>
            <a class="friend" href="/friend/add/?from=<%=profile_user.id%>&to=<%=user.id%>">ADD Friend</a>
         <% }%>
<script src="/javascript/friend.js"></script>
<script>
        $(' .friend').each(function()
  {
     new Friend(this);
  });
</script>
      